<div class="slide mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-[40px] mb-[20px] dark:bg-[#020102] z-20">
    <div class="px-4 sm:px-6 md:px-8">
        <div class="max-w-3xl mx-auto">
            <div> 
                <article class="relative pt-10">
                    <h1 class="text-2xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 md:text-3xl ">{{version.title}}</h1>
                    <div class="text-sm leading-6">
                        <dl>
                            <dt class="sr-only">Date</dt>
                            <dd class="absolute top-0 inset-x-0 text-slate-700 dark:text-slate-400">
                                <time datetime="2023-12-20T20:00:00.000Z">{{version.datetime}}</time>
                            </dd>
                        </dl>
                    </div>
                    <div class="mt-12 prose prose-slate dark:prose-dark dark:text-white">
                        <p>{{version.description}}</p>
                    </div>
                </article>
                <article *ngIf="version.changes.length != 0" class="pt-[40px]">
                    <p class="font-bold text-xl dark:text-white">Cambios</p>
                    <ul class="sm:list-disc text-gray-900 sm:ms-5 mt-3 space-y-1.5 dark:text-gray-200">
                        <ng-container *ngFor="let c of version.changes">               
                            <li class="ps-1 sm:ps-1 text-sm text-gray-600 dark:text-gray-400">
                                <span class="inline-flex items-center gap-x-2 text-gray-800 font-semibold dark:text-gray-200 pl-[5px] pr-[3px]">{{c.type}}:</span>
                                <span [innerHTML]="c.content"></span>
                            </li>
                        </ng-container>
                    </ul>
                </article>
                <article *ngIf="version.images.length != 0" class="pt-[40px]">
                    <p class="font-bold text-xl dark:text-white">Imagenes</p>
                    <ng-container *ngFor="let v of version.images">        
                        <figure class="w-full flex justify-center items-center flex-col mt-[20px]">
                            <img class="h-auto max-w-[500px] w-full rounded-lg" [src]="v.src" alt="image description">
                            <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">{{v.alt}}</figcaption>
                        </figure>
                    </ng-container>
                </article>
                <article *ngIf="version.files.length != 0" class="pt-[40px]">
                    <p class="font-bold text-xl pb-[20px] dark:text-white">Archivos modificados</p>
                    <div class="grid gap-6 grid-cols-[repeat(auto-fill,minmax(250px,1fr))]">
                        <ng-container *ngFor="let v of version.files">        
                            <div class="w-full flex gap-2 bg-box dark:bg-box_dark hover:shadow-md p-4 rounded-lg border border-box_border dark:border-box_border_dark text-black dark:text-white shadow cursor-pointer">
                                <img [src]="getToolById(v.tipo).icon" class="flex size-[20px]"/>
                                <p class="text-sm text-slate-500">{{v.name}}</p>
                            </div>
                        </ng-container>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>