<div class="scroll-snap-card md:mb-[90px] mb-[110px]">
    <button (click)="goToSection('contact')">Contact</button>
    <button (click)="goToSection('resume')">Resume</button>
    <button (click)="goToSection('competencias')">Competencias</button>
    <!--
    <section id="" class="slide mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-[20px] mb-[20px] dark:bg-[#020102] z-20">
        <div class="flex justify-between">
            <ng-container *ngFor="let b of tools">
                    
                <div>
                    <button [attr.data-tooltip-target]="'tooltip-' + b.id" type="button" class=""><img src="../../assets/{{b.icon}}"/></button>
    
                    <div id="tooltip-{{b.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        {{b.name}}
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </div>
    
            </ng-container>
        </div>
    </section>
    -->
    <section id="stack" class="slide mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-[40px] mb-[20px] z-20 ">

        <h4 class="text-[#4a6cf7] font-medium text-lg leading-7 w-full text-center">No se que poner</h4>
        <h2 class="text-5xl leading-10 font-bold w-full text-center pt-[20px] pb-[20px] text-black dark:text-white">Stack Tecnológico</h2>

        <div class="grid gap-6 grid-cols-[repeat(auto-fill,minmax(250px,1fr))]">
            
            <ng-container *ngFor="let b of stack">
                <div routerLink="./competencies/{{b.id}}" class="relative w-full md:justify-normal group is-active">
                    <div class="bg-box dark:bg-box_dark hover:shadow-md p-4 rounded-lg border border-box_border dark:border-box_border_dark text-black dark:text-white shadow cursor-pointer">
                        <div class="w-full block lg:flex items-center justify-between lg:space-x-2 mb-2">
                            <div class="font-bold text-black dark:text-white">{{b.name}}</div>
                        </div>
                        <ng-container *ngFor="let l of b.languages">
                            <div class="flex gap-2 mt-[5px]">
                                <img [src]="getToolById(l).icon" class="size-[20px]"/>
                                <p class="text-sm">{{getToolById(l).name}}</p>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>

        </div>

    </section>
    <hr class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-[60px] dark:bg-[#020102]"/>
    <section id="competencias" class="slide mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-[40px] mb-[20px] dark:bg-[#020102] z-20">

        <h4 class="text-[#4a6cf7] font-medium text-lg leading-7 w-full text-center">No se que poner</h4>
        <h2 class="text-5xl leading-10 font-bold text-black dark:text-white w-full text-center pt-[20px] pb-[20px]">Competencies</h2>

        <div class="grid gap-6 grid-cols-[repeat(auto-fill,minmax(250px,1fr))]">
            
            <ng-container *ngFor="let b of competencies">
                <div routerLink="./competencies/{{b.id}}" class="relative w-full md:justify-normal group is-active">
                    <div class="bg-box dark:bg-box_dark hover:shadow-md p-4 rounded-lg border border-box_border dark:border-box_border_dark text-black dark:text-white shadow cursor-pointer">
                        <div class="w-full block lg:flex items-center justify-between lg:space-x-2 mb-1">
                            <div class="font-bold">{{b.name}}</div>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>

    </section>
    <hr class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-[60px] dark:bg-[#020102]"/>
    <section id="resume" class="slide mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-[40px] mb-[20px] dark:bg-[#020102] z-20">

        <h4 class="text-[#4a6cf7] font-medium text-lg leading-7 w-full text-center">Education & Experience</h4>
        <h2 class="text-5xl leading-10 font-bold text-black dark:text-white w-full text-center pt-[20px] pb-[20px]">My Resume</h2>

        <div class="space-y-8 relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px md:before:mx-auto md:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-slate-300 before:to-transparent">
            
            <ng-container *ngFor="let b of resume">
                <div routerLink="./resume/{{b.id}}" class="relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active">
                    <div class="flex items-center justify-center w-10 h-10 rounded-full border border-white cursor-pointer bg-slate-300 group-[.is-active]:bg-emerald-500 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2">
                        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="12" height="10">
                            <path fill-rule="nonzero" d="M10.422 1.257 4.655 7.025 2.553 4.923A.916.916 0 0 0 1.257 6.22l2.75 2.75a.916.916 0 0 0 1.296 0l6.415-6.416a.916.916 0 0 0-1.296-1.296Z" />
                        </svg>
                    </div>
                    <div class="w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-box dark:bg-box_dark hover:shadow-md p-4 rounded-lg border border-box_border dark:border-box_border_dark text-black dark:text-white shadow cursor-pointer">
                        <div class="block lg:flex items-center justify-between lg:space-x-2 mb-1">
                            <div class="font-bold">{{b.title}}</div>
                            <time class="font-caveat font-medium text-indigo-500">{{b.interval}}</time>
                        </div>
                        <div class="text-slate-500">{{b.short_description}}</div>
                        <div class="flex justify-start gap-2 pt-[7px]">
                            <ng-container *ngFor="let i of b.languages">
                                <img [src]="getToolById(i).icon" class="size-[22px] m-px rounded-sm" [alt]="getToolById(i).name" />
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>

    </section>
    <hr class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-[60px] dark:bg-[#020102]"/>
    <section id="contact" class="slide mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-[20px] mb-[20px] dark:bg-[#020102] z-10">
        <div class="relative isolate dark:bg-[#020102]">
            <!--
            <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
                <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] ml-[347px] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem] mt-[200px]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
            </div>
            -->
            <div class="mx-auto max-w-2xl text-center">
                <h4 class="text-[#4a6cf7] font-medium text-lg leading-7 w-full text-center">No se que poner</h4>
                <h2 class="text-5xl leading-10 font-bold text-black dark:text-white w-full text-center pt-[20px] pb-[20px]">Contact</h2>
            </div>
            <form action="#" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
                <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
                    <div>
                        <label for="first-name" class="block text-sm font-semibold leading-6 text-gray-900 dark:text-white">First name</label>
                        <div class="mt-2.5">
                            <input type="text" name="first-name" [(ngModel)]="firstname" id="first-name" autocomplete="given-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 dark:bg-black">
                        </div>
                    </div>
                    <div>
                        <label for="last-name" class="block text-sm font-semibold leading-6 text-gray-900 dark:text-white">Last name</label>
                        <div class="mt-2.5">
                            <input type="text" name="last-name" [(ngModel)]="lastname" id="last-name" autocomplete="family-name" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="email" class="block text-sm font-semibold leading-6 text-gray-900 dark:text-white">Email</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                                <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                                <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                            </svg>
                            </div>
                            <input type="email" name="email" [(ngModel)]="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@dominio.com">
                        </div>
                    </div>
                    <div class="sm:col-span-2">
                        <label for="message" class="block text-sm font-semibold leading-6 text-gray-900 dark:text-white">Message</label>
                        <div class="mt-2.5">
                            <textarea name="message" id="message" rows="4" [(ngModel)]="body" class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                        </div>
                    </div>
                </div>
                <div class="mt-10">
                    <button (click)="send()" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Send</button>
                </div>
            </form>
        </div>      
    </section>

    
</div>
