.scroll-snap-card {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
}

.scroll-snap-card .slide {
    height: 100%;
    scroll-snap-align: start;
    background-color: var(--bg);
}

.scroll-snap-card .slide p {
    font-size: 1em;
    color: white;
    font-weight: 700;
}