<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-[20px] bg-[]">
    <p class="bg-white dark:bg-black dark:text-white text-[#171717] dark:border-[#0a0a0a] rounded-lg md:p-[20px] p-[10px] border">Piedra Papel Tijera</p>
    <div class="bg-white dark:bg-black dark:text-white text-[#171717] dark:border-[#0a0a0a] rounded-lg md:p-[20px] p-[10px] border mt-[20px]">
        <div>
            <ng-container>
                <p>Ho</p>
            </ng-container>
            <div class="flex justify-between">
                <img src="../../assets/piedraPapelTijera/piedra.png" class="w-[60px] h-[60px]"/>
                <img src="../../assets/piedraPapelTijera/papel.png" class="w-[60px] h-[60px]"/>
                <img src="../../assets/piedraPapelTijera/tijera.png" class="w-[60px] h-[60px]"/>
            </div>
        </div>
        <input type="checkbox" class="hidden"/>
        <div class="flex justify-between">
            <img src="../../assets/piedraPapelTijera/piedra.png" class="w-[60px] h-[60px]"/>
            <img src="../../assets/piedraPapelTijera/papel.png" class="w-[60px] h-[60px]"/>
            <img src="../../assets/piedraPapelTijera/tijera.png" class="w-[60px] h-[60px]"/>
        </div>
    </div>
</div>