<nav class="bg-nav dark:bg-nav_dark sticky top-0 z-50 font border-b border-box_border dark:border-box_border_dark">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex w-full">
        <div class="flex flex-shrink-0 items-center">
          <img class='w-[35px] h-[35px]' src='https://angular.io/assets/images/logos/angular/shield-large.svg' />
          <p class="pl-3 hidden md:block"></p>
        </div>
        <div class="hidden w-full sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
          <ng-container *ngFor="let n of nav">
            <a routerLink="/{{n.href}}" (click)="setViewSelect(n.name)" routerLinkActive="active" class="{{viewSelect == n.name ? 'border-slate-500 text-gray-900 dark:text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium' : 'border-transparent text-gray-500 hover:text-gray-700 dark:hover:text-white hover:border-gray-300 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium'}}">{{n.name}}</a>
          </ng-container>
          <div class="w-full flex justify-end">
            <a *ngIf="user.nombre == undefined;" routerLink="/login" (click)="setViewSelect('Login')" routerLinkActive="active" class="border-transparent text-gray-500 hover:text-blue-700 dark:hover:text-white hover:border-blue-300 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Login</a>
            <a *ngIf="user.nombre != undefined;" class="border-slate-500 text-gray-900 dark:text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium" routerLink="/user">{{user.nombre}} {{user.apellidos}}</a>
          </div>
        </div>
      <div class="flex justify-end s-my-px ml-6 sm:hidden space-x-8 w-full" >
        <div class='flex justify-center content-center items-center w-full'>
          <p class='font-bold text-xl dark:text-white'>{{viewSelect}}</p>
        </div>
        <p *ngIf="verMenuMovil == true" (click)="setVerMenuMovil(!verMenuMovil)" class="dark:text-white border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1em" width="1em" class='w-[20px] h-[20px]' xmlns="http://www.w3.org/2000/svg"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></p>
        <p *ngIf="verMenuMovil == false" (click)="setVerMenuMovil(!verMenuMovil)" class="dark:text-white border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="block h-6 w-6"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path></svg></p>
        </div>
      </div>
    </div>
  </div>
  <div class="{{verMenuMovil == true ? 'sm:hidden' : 'hidden'}}" id="headlessui-disclosure-panel-:R4ba:" data-headlessui-state="open">
    <div class="space-y-1 pt-2 pb-3">
      <ng-container *ngFor="let n of nav">
        <a routerLink="/{{n.href}}" (click)="setViewSelect(n.name)" (click)="setVerMenuMovil(verMenuMovil == true ? false : true)" routerLinkActive="active" class="{{viewSelect == n.name ? 'bg-slate-50 dark:bg-[#121212] dark:text-white border-slate-500 text-slate-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium' : 'border-transparent text-gray-600 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-800 block pl-3 pr-4 py-2 border-l-4 text-base font-medium'}}">{{n.name}}</a>
      </ng-container>
      <a routerLink="/login" (click)="setViewSelect('Login')" (click)="setVerMenuMovil(verMenuMovil == true ? false : true)" routerLinkActive="active" class=" {{user != null ? 'hidden' : ''}} border-transparent text-gray-600 hover:bg-blue-50 hover:border-blue-300 hover:text-blue-800 block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Login</a>
      <a class="border-slate-500 text-gray-900 dark:text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium" routerLink="/user">Pablo Eguilaz Perez</a>
    </div>
  </div> 
</nav>

<div class="relative z-50 {{verAlerta ? '' : 'hidden'}}" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity {{verAlerta ? 'ease-out duration-300 opacity-100' : 'ease-in duration-200 opacity-0'}}"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg {{verAlerta ? 'ease-out duration-300 opacity-100 translate-y-0 sm:scale-100' : 'opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95'}}">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
              </svg>
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title" [innerHTML]="errorTitle"></h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500" [innerHTML]="errorMessaje"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto" (click)="closeAlert()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="md:mb-[100px] mb-[130px]">
  <router-outlet></router-outlet>
</main>

<footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-nav border-t border-box_border dark:border-box_border_dark shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-nav_dark">
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://pabloeguilaz.es" class="hover:underline">Pablo Eguilaz Perez</a>. All Rights Reserved.
  </span>
  <!--
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
    <li>
      <a routerLink="/about" class="hover:underline me-4 md:me-6">About</a>
    </li>
    <li>
      <a routerLink="/privacy_policy" class="hover:underline me-4 md:me-6">Privacy Policy</a>
    </li>
    <li>
      <a routerLink="/contact" class="hover:underline">Contact</a>
    </li>
  </ul>
  -->
</footer>
