<!-- board.component.html -->
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-[20px]">
    <a routerLink="/juegos" class="inline-flex justify-center gap-x-1.5 rounded-md bg-box dark:bg-box_dark px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-box_border_dark dark:text-white hover:bg-gray-50 hover:dark:bg-black mb-[10px]">Atras</a>
    <div class="bg-white dark:bg-black dark:text-white text-[#171717] dark:border-[#0a0a0a] rounded-lg md:p-[20px] p-[10px] border flex justify-between items-center">
        <p>Memory</p>
        <div class="flex">
            <img src="../../assets/piedraPapelTijera/vida.png" class="size-[50px] {{localStorageData.result.player > 0 ? (localStorageData.result.player == 1 ? 'animate-pulse' : '') : 'hidden'}}" />
            <img src="../../assets/piedraPapelTijera/vida.png" class="size-[50px] {{localStorageData.result.player > 1 ? (localStorageData.result.player == 2 ? 'animate-pulse' : '') : 'hidden'}}" />
            <img src="../../assets/piedraPapelTijera/vida.png" class="size-[50px] {{localStorageData.result.player > 2 ? (localStorageData.result.player == 3 ? 'animate-pulse' : '') : 'hidden'}}" />
            <img src="../../assets/piedraPapelTijera/vida.png" class="size-[50px] {{localStorageData.result.player > 3 ? (localStorageData.result.player == 4 ? 'animate-pulse' : '') : 'hidden'}}" />
            <img src="../../assets/piedraPapelTijera/vida.png" class="size-[50px] {{localStorageData.result.player > 4 ? (localStorageData.result.player == 5 ? 'animate-pulse' : '') : 'hidden'}}" />
        </div>
    </div>
    <div class="container mx-auto mt-8">
        <div class="grid grid-rows-4 grid-flow-col gap-4">
            <button *ngFor="let card of cards" class="bg-box dark:bg-box_dark hover:shadow-md p-4 rounded-lg border border-box_border dark:border-box_border_dark text-black dark:text-white shadow cursor-pointer size-[100px] ml-auto mr-auto" (click)="revealCard(card)">
                <div *ngIf="!card.revealed">?</div>
                <div *ngIf="card.revealed"><img [src]="card.value" class="w-full" /></div>
            </button>
        </div>
    </div>
    
</div>