<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 mt-[20px]">
    <div class="p-4 mb-4 bg-box border border-box_border rounded-lg shadow-sm 2xl:col-span-2 dark:border-box_border_dark sm:p-6 dark:bg-body_dark">
		<h3 class="mb-4 text-xl font-semibold dark:text-white">General information</h3>
		<div class="block md:flex">
    		<div class=" mb-2 mr-2 bg-popover dark:bg-popover_dark rounded-lg w-full">
       	 		<p class="text-xl w-full pb-2">Mis datos</p>
                <form method="POST" accion="#">
                    <div class="mb-6">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                        <input type="text" id="name" [(ngModel)]="nombre" (change)="updateData('nombre', this.user.nombre)" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="">			
                    </div>
                    <div class="mb-6">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                        <input type="email" id="email" [value]="user.email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button (click)="cerrarSesion()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Cerrar session</button>
</div>